<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(title, content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>メニュー画面</title>
  </head>
  <body class="common-body">
    <div class="menu-container">
      <h1>Spring学習プロジェクト</h1>
      <ul>
        <li>
          <a href="./issues/list.html" th:href="@{/issues}" class="menu-link"
            >課題一覧</a
          >
        </li>
        <li sec:authorize="hasAuthority('ADMIN')">
          <a href="./users/list.html" th:href="@{/users}" class="menu-link"
            >ユーザ一覧</a
          >
        </li>
        <li>
          <a href="./logout.html" th:href="@{/logout}" class="menu-link"
            >ログアウト</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
