<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(title, content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>ログイン画面</title>
  </head>
  <body class="common-body">
    <div class="login-container">
      <h1>Spring学習プロジェクト</h1>
      <div th:if="${param.error}">
        <p>ユーザ名もしくはパスワードが違います。</p>
      </div>
      <form action="#" th:action="@{/login}" method="post">
        <label for="usernameInput">ユーザー名</label>
        <input type="text" id="usernameInput" name="username" />

        <label for="passwordInput">パスワード</label>
        <input type="password" id="passwordInput" name="password" />
        <button type="submit">ログイン</button>
      </form>
    </div>
  </body>
</html>
