<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(title, content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <script th:src="@{/js/logout.js}" src="../static/js/logout.js"></script>
    <title>ログアウト画面</title>
  </head>
  <body>
    <div class="logout-container">
      <h1>Spring学習プロジェクト</h1>
      <button id="logoutBtn" class="logout-button">ログアウト</button>
    </div>
  </body>
</html>
